<% include ../partials/header %> 


<% include ../functions %> 

<div class="container">
	<h1><%= currentUser.nickname%>' Blogs</h1>
	
		<% blogs.forEach(function(blog){ %>
			<div class="post-row">
				<div class="header">
					<a href="/blogs/<%=blog._id %>"><%= blog.title %>
					</a>
				</div>
				<span> <%= blog.create %> </span>
				<div class="blog-preview">
					<%- convertToHTML(blog.content).replace(/<\/?[^>]+(>|$)/g, "").substring(0, 150) %>.. 
				</div>
				</form>
				<form style="display: inline" method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
					<button type="submit" class="btn btn-outline-primary">delete</button>
				</form>
				<form style="display: inline" method="GET" action="/blogs/<%=blog._id%>/edit">
					<button type="submit" class="btn btn-outline-primary">edit</button>
				</form>
			<div class= "border-line"> </div>
			</div>
		<% }); %>
	
</div>

<% include ../partials/footer %> 